* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    background-color: #302E2B;
}

h1 {
    font-weight: bold;
    color: #bfbfbf;
    text-align: center;
    font-size: 30px;
    margin: 70px auto 50px;
}

button {
    border-radius: 0 !important;
}

ul {
    list-style-type: none;
}



.main {
    width: 100%
}

.square {
    /* width: 60%;
    height: 0;
    padding-bottom: 60%; */
    width: 95vw;
    height: 95vw;
    margin: 0px auto;
}


/* #board {
    
    background-color: red;
} */

canvas {
    width: 95%;

    position: absolute;
    background-color: #9B7335;
    border-radius: 10px;
}

.grid {
    width: 95vw;
    display: grid;
    margin: 30px auto;
}

.messages-box {
    display: none;
    /* grid-column: 1 / 3;
    width: 100%;
    color: #bfbfbf;
    background-color: #22221E;
    padding: 10px; */
}

.control-button-container {
    display: flex;
    position:relative;
    justify-content: space-between;
}

/* .flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
} */

.control-button {
    height: 30px;
    width: 30%;
    position: relative;
    background-color: #949494;
    border: none;
    /* margin-bottom: 5%; */
}

.chat-button {
    width: 100%;
}

.chat-input {
    width: 90%;
}

.text {
    font-family: 'Roboto Mono';
}


/* input {
    box-sizing: border-box;
    width: 100%;
    position: relative;
} */


#chat {
    height: 70%;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    /* background-color: white; */
    position: relative;
    background-color: #22221E;
    border-radius: 10px;
    padding: 20px;
}

#textbox {
    height: 10%;
}

#control-buttons {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1000px) {
    h1 {
        margin: 20px auto 70px;
        font-size: 60px;
    }

    .main {
        display: flex;
        justify-content: space-around;
        width: 1000px;
        margin: 0 auto;
    }

    .square {
        /* width: 60%;
        height: 0;
        padding-bottom: 60%; */
        width: 500px;
        height: 500px;
    }

    canvas {
        width: 500px;
    }

    .grid {
        width: 250px;
        height: 500px;
        display: grid;
        margin: 0px auto;
        grid-template-columns: 100%;
        grid-template-rows: 9fr 1fr;
    }
    
    .messages-box {
        display: block;
        width: 100%;
        height: 450px;
        color: #bfbfbf;
        background-color: #22221E;

    }

    .messages {
        height: 410px;
    }

    ul {
        overflow: auto;
        flex-direction: column;
        padding-top: 33.45px;

    }

    lh {
        position: absolute;
        z-index: 99;
        background: #524e49;
        display:inline-block;
        margin-top: -33.45px;
        width: 250px;
        height: 33.45px;
        font-weight: medium;
        font-size: 20px;
        text-align: center;
    }

    li {
        position: relative;
        padding: 3px 10px;
        display:block;
        width: 100%;
    }

    #messages > li:nth-child(odd) { background: #3C3A37; }



    span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }

    .chat-input {
        width: 67%;
        height: 26px;
        float: left;
        margin-left: 10px;
        margin-top: 7px;
    }
    
    .chat-button {
        width: 20%;
        height: 26px;
        float: right;
        margin-right: 10px;
        margin-top: 7px;
    }

    .control-button-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    .control-button {
        align-self: center;
    }
    

}

/* @media only screen and (orientation: landscape) {
    #main {
        flex-direction: row;
        height: 100vh;
        width: 80vw;
        align-items: center;
    }

    #board {
        width: 55vw;
        height: 50vw;
        position:relative;
        padding-bottom: 0;
        margin-right: 2.5vw;
    }
    
    #sidebar {
        width: 30vw;
        height: 50vw;
    }

    /* #chat {

    }
    
    #buttons {

    } */